//breaking points
$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1920px;


//colors
$black1:#000;
$black2: #1e1e1e;

$gray1: #7d7d7d;
$gray2:#3d3d3d;


$purple1:rgb(148, 3, 148);
$purple2: rgb(163, 76, 163);
$purple3: rgb(153, 51, 114);
$purple4: #df379a;


$white1: #fff;
$white2: #e0e6e9;
$white3: #ccc;


$red1: #ff0000;
$red2: #e40613;


$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Rubik', sans-serif;

